html {
    box-sizing: border-box;
}

.main-header {
    background-image: url('../Images/banner-1176676_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 100%;
}

.nav-link:hover {
    background-color: #f8f9fa; 
    color: #343a40 !important;
    transition: background-color 0.3s, color 0.3s;
}